.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--type-first);
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
  padding: 64px 0 64px 0;
  margin-bottom: 0px;
  margin-top: 0px;
}
