.header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  inset: 0px;
  height: 120px;
  position: sticky;
  z-index: 298;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 300;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
  height: 80px;
}

.logo {
  padding: 0.5rem 0;
}

.logo img {
  width: 90px;
  height: 26px;
}

.login {
  cursor: pointer;
  color: #fff;
  padding: 6px 16px 7px;
  min-width: 136px;
  min-height: auto;
  border-radius: 8px;
  border: 3px solid transparent;
  text-align: center;
}

.login:hover,
.login:active {
  background-color: rgba(134, 151, 206, 0.3);
}
