.banner {
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
}

.banner-details {
  position: absolute;
  bottom: 60px;
  left: 30px;
  right: 10px;
  max-width: calc(33% - 20px);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 8px;
}
