img {
  margin-bottom: 12px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #fcebfc;
  width: 204px;
  word-wrap: break-word;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #e4d7e4;
}

.card {
  font-family: 'Montserrat', sans-serif;
}

.card:hover {
  transform: scale(1.01);
}
