img {
  margin-bottom: 12px;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #fcebfc;
  width: 204px;
  word-wrap: break-word;
  cursor: pointer;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #e4d7e4;
}

.card {
  font-family: var(--type-first);
}

.card:hover {
  transform: scale(1.01);
}

.card .title {
  font-size: 0.875rem;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
}
