.body-slider-container {
  margin: 0 16px 60px;
}

.body-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-details-container {
  margin-top: 32px;
}

.body-banner-container {
  margin-bottom: 50px;
}
